{% extends "orders/base.html" %}

{% block title %}
Fill Pizza Order
{% endblock %}

{% block body %}
<!-- Nav Menu -->
<div class="navl pure-menu pure-menu-horizontal">
  <a href="#" class="left pure-menu-heading pure-menu-link">Pizza</a>
  <ul class="pure-menu-list left">
      <li class="pure-menu-item"><a href="{% url 'index' %}" class="pure-menu-link">Menu</a></li>
  </ul>
  <ul class="pure-menu-list right">
      <li class="pure-menu-item"><a class="pure-menu-disabled">Currently logged in as: {{ user.username }}</a></li>
      <li class="pure-menu-item"><a href="{% url 'logout' %}" class="pure-menu-link">Logout</a></li>
  </ul>
</div>

<div class="l-box order checkout">
  <div class="center">
    <h1>Orders To Fill</h1>
  </div>
    {% if orders %}
    {% for order in orders %}
    <a class="bold">Order: #{{ order.id }}</a><br>
    <a class="bold">Customer: {{order.user}}</a>
    <ul>
      {% for item in order.regulars.all %}
      <li>1 {{ item }}</li>
      {% endfor %}
      {% for item in order.sicilians.all %}
      <li>1 {{ item }}</li>
      {% endfor %}
      {% for item in order.pastas.all %}
      <li>1 {{ item }}</li>
      {% endfor %}
    </ul>
    <form action="{% url 'fill' %}" method="post">{% csrf_token %}
      <button class="pure-button button-red" name="order" value="{{ order.id }}" type="submit">Fill Order</button>
    </form>
    <hr>
    {% endfor %}
    {% else %}
    <div class="center">
      <br>
      <h2>You filled all your orders! Have a beer!</h2>
    </div>
    {% endif %}
</div>
{% endblock %}
