{% extends "orders/base.html" %}

{% block title %}
Pizza Menu
{% endblock %}

{% block body %}
    <!-- Toppings Modal -->
    <div id="pizza-modal" class="modal">
      <div class="modal-content">
        <h1>Toppings</h1>
        <h3 id="toppings"></h3>
        <form action="{% url 'order' %}" method="post">{% csrf_token %}
          <input class="hidden" type="text" name="type" id="pizza-type" value="regular">
          <input class="hidden" type="text" name="order" id="pizza-id" value="0">
          <div id="checkboxes" class="pure-g">
            <div class="pure-u-1-2">
              {% for topping in toppings|slice:":10" %}
              <input type="checkbox" name="checks" value="{{topping}}"> {{topping}}<br>
              {% endfor %}
            </div>
            <div class="pure-u-1-2">
              {% for topping in toppings|slice:"10:" %}
              <input type="checkbox" name="checks" value="{{topping}}"> {{topping}}<br>
              {% endfor %}
            </div>
          </div>
          <div class="l-box center">
            <button class="pure-button" type="submit" id="order" disabled>Order</button>
          </div>
        </form>
      </div>
     </div>

     <!-- Sub Toppings Modal -->
     <div id="sub-modal" class="modal">
       <div class="modal-content">
         <h1>Sub Toppings</h1>
         <h3>Do you want to add any extra toppings?</h3>
         <form action="{% url 'order' %}" method="post">{% csrf_token %}
           <input class="hidden" type="text" name="type" value="sub">
           <input class="hidden" type="text" name="order" id="sub-id" value="0">
           <div id="sub-checkboxes" class="pure-g">
             <div class="pure-u-1-2">
               <!-- Just the extra cheese please -->
               {% for topping in sub_toppings|slice:":1" %}
               <input type="checkbox" name="sub-checks" value="{{topping}}"> {{topping}} <span class="bold">(${{topping.price}})</span><br>
               {% endfor %}
               <!-- Handle Steak Toppings in a weird way -->
               <div id="steak">
                 {% for topping in sub_toppings|slice:"1:" %}
                 <input type="checkbox" name="sub-checks" value="{{topping}}"> {{topping}} <span class="bold">(${{topping.price}})</span><br>
                 {% endfor %}
               </div>
              </div>
           </div>
           <div class="l-box center">
             <button class="pure-button" type="submit" id="sub-order">Confirm Choice</button>
           </div>
         </form>
       </div>
      </div>

    <!-- Nav Menu -->
    <div class="navl pure-menu pure-menu-horizontal">
      <a href="#" class="left pure-menu-heading pure-menu-link">Pizza</a>
      <ul class="pure-menu-list left">
          <li class="pure-menu-item"><a href="{% url 'index' %}" class="pure-menu-link">Menu</a></li>
      </ul>
      <ul class="pure-menu-list right">
          <li class="pure-menu-item"><a class="pure-menu-disabled">Currently logged in as: {{ user.username }}</a></li>
          <li class="pure-menu-item"><a href="{% url 'logout' %}" class="pure-menu-link">Logout</a></li>
      </ul>
    </div>


    <!-- Heading -->
    <div class="pure-u-1">
      <div class="l-box center">
        <h1 id="title">Menu</h1>
      </div>
    </div>

    <!-- Main Content -->
    <div class="pure-g">
    <!-- First Column -->
    <div class="pure-u-1-3 menu">
      <div class="l-box">
        <h2 class="heading">Pizzas</h2>
      <table class="pure-table pure-table-bordered">
        <thead>
            <tr>
                <th>Regular Pizza</th>
                <th>Small</th>
                <th>Large</th>
            </tr>
        </thead>

        <!-- Regular Pizzas -->
        <tbody>
          {% for regular in regulars %}
          {% if regular.size|stringformat:"s" == "Small" %}
          <tr>
                <td>{{ regular.choice }}</td>
                {% if regular.choice|stringformat:"s" == "Cheese" %}
                <td><form action="{% url 'order' %}" method="post">{% csrf_token %}<button class="btn circle" type="submit" name="order" value="{{regular.id}}"/><i class="fa fa-plus-circle plus"></i></button>${{ regular.price }}<input class="hidden" type="text" name="type" value="regular"></form></td>
                {% else %}
                <td><i class="fa fa-plus-circle plus add" id="{{regular.id}}"><input class="hidden" type="text" name="{{ regular.choice }}" value="regular"></i> ${{ regular.price }}</td>
                {% endif %}


          {% elif regular.size|stringformat:"s" == "Large" %}
            {% if regular.choice|stringformat:"s" == "Cheese" %}
            <td><form action="{% url 'order' %}" method="post">{% csrf_token %}<button class="btn circle" type="submit" name="order" value="{{regular.id}}" /><i class="fa fa-plus-circle plus"></i></button>${{ regular.price }}<input class="hidden" type="text" name="type" value="regular"></form></td>
            {% else %}
            <td><i class="fa fa-plus-circle plus add" id="{{regular.id}}"><input class="hidden" type="text" name="{{ regular.choice }}" value="regular"></i> ${{ regular.price }}</td>
            {% endif %}
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
    </table>
    <br>

    <!-- Sicilian Pizzas -->
    <table class="pure-table pure-table-bordered">
      <thead>
          <tr>
              <th>Sicilian Pizza</th>
              <th>Small</th>
              <th>Large</th>
          </tr>
      </thead>
      <tbody>
        {% for sicilian in sicilians %}
        {% if sicilian.size|stringformat:"s" == "Small" %}
          <tr>
              <td>{{ sicilian.choice }}</td>
              {% if sicilian.choice|stringformat:"s" == "Cheese" %}
              <td><form action="{% url 'order' %}" method="post">{% csrf_token %}<button class="btn circle" type="submit" name="order" value="{{sicilian.id}}" /><i class="fa fa-plus-circle plus"></i></button>${{ sicilian.price }}<input class="hidden" type="text" name="type" value="sicilian"></form></td>
              {% else %}
              <td><i class="fa fa-plus-circle plus add" id="{{sicilian.id}}"><input class="hidden" type="text" name="{{ sicilian.choice }}" value="sicilian"></i> ${{ sicilian.price }}</td>
              {% endif %}


        {% elif sicilian.size|stringformat:"s" == "Large" %}
              {% if sicilian.choice|stringformat:"s" == "Cheese" %}
              <td><form action="{% url 'order' %}" method="post">{% csrf_token %}<button class="btn circle" type="submit" name="order" value="{{sicilian.id}}" /><i class="fa fa-plus-circle plus"></i></button>${{ sicilian.price }}<input class="hidden" type="text" name="type" value="sicilian"></form></td>
              {% else %}
              <td><i class="fa fa-plus-circle plus add" id="{{sicilian.id}}"><input class="hidden" type="text" name="{{ sicilian.choice }}" value="sicilian"></i> ${{ sicilian.price }}</td>
              {% endif %}
          </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
      </div>
    </div>

    <!-- Second Column -->
    <div class="pure-u-1-3 menu">
      <div class="l-box">
        <h2 class="heading">Subs</h2>

        <!-- Subs -->
        <table class="pure-table pure-table-bordered">
          <thead>
            <tr>
              <th>Subs</th>
              <th>Small</th>
              <th>Large</th>
            </tr>
          </thead>
          <tbody>
            {% for sub in subs %}

            {% if sub.size|stringformat:"s" == "Small" %}
            <tr>
              <td>{{ sub.name }}</td>
              <td><i class="fa fa-plus-circle plus sub-add" id="{{sub.id}}"></i> ${{ sub.price }}</td>

              {% elif sub.size|stringformat:"s" == "Large" %}
              {% if sub.name|stringformat:"s" == "Sausage, Peppers & Onions"%}
              <td>{{ sub.name }}</td>
              <td class="center"> --- </td>
              {% endif %}
              <td><i class="fa fa-plus-circle plus sub-add" id="{{sub.id}}"></i> ${{ sub.price }}</td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
        <h2 class="heading">Other Items</h2>
        <table class="pure-table pure-table-bordered">
          <thead>
            <tr>
              <th>Pasta</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            {% for pasta in pastas %}
            <tr>
              <td>{{ pasta }}</td>
              <td><form action="{% url 'order' %}" method="post">{% csrf_token %}<button class="btn circle" type="submit" name="order" value="{{pasta.id}}" /><i class="fa fa-plus-circle plus"></i></button>${{ pasta.price }}<input class="hidden" type="text" name="type" value="pasta"></form></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <!-- Third Column -->
    <div class="pure-u-1-3">
      <div class="l-box order">

        <!-- Cart -->
        <h2 id="cart">Your Order</h2>
        <hr>
        <ul>
          {% if cart_regulars or cart_sicilians or cart_pastas or cart_subs %}
          {% for regular in cart_regulars %}
          <li>1 {{regular}}</li>
          {% endfor %}
          {% for sicilian in cart_sicilians %}
          <li>1 {{sicilian}}</li>
          {% endfor %}
          {% for sub in cart_subs %}
          <li>1 {{sub}}</li>
          {% endfor %}
          {% for pasta in cart_pastas %}
          <li>1 {{pasta}}</li>
          {% endfor %}
          {% else %}
          <li> No items in your order yet! </li>
          {% endif %}
        </ul>
        {% if cart_regulars or cart_sicilians or cart_pastas or cart_subs %}
        <div class="center">
          <h3>Cart Total: ${{total}}</h3>
        </div>
        {% endif %}
        <div class="center">
          <form action="{% url 'checkout' %}" method="get">{% csrf_token %}
            <button class="pure-button button-red" type="submit" href="#" {{disabled}}><i class="fa fa-shopping-cart fa-lg"></i> Place Order</button>
          </form>
        </div>
      </div>
    </div>
{% endblock %}
