{% extends "orders/base.html" %}

{% block title %}
Pizza Login
{% endblock %}

{% block body %}

    <div class="l-box order checkout">
      <div class="center">
        <h1>Login</h1>
      </div>

      <form class="pure-form center" action="{% url 'login' %}" method="post">
          {% csrf_token %}
          <input name="username" placeholder="Username" type="text"/>
          <input name="password" placeholder="Password" type="password"/>
          <input class="pure-button button-red" type="submit" value="Login"/>
          {% if message %}
          <h4>{{ message }}</h4>
          {% endif %}
      </form>
      <br>
      <form class="center" action="{% url 'register' %}" method="get">
          <input class="pure-button" type="submit" value="Register"/>
      </form>
    </div>

{% endblock %}
